<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-image">
        <img id="myImage" src="cover.jpg">
      </div>

      <button class="button button-positive" ng-click="getPicture()">
        Get Picture
      </button>
      <button class="button button-positive" ng-click="uploadPicture()">
        Upload Picture
      </button>

      <div class="item item-image">
        <img id="uploadImage" src="cover.jpg">
      </div>
    </div>
  </ion-content>
</ion-view>
