<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
<ion-content has-header="true" padding="true">
  <ion-list>
  
  <div class="list card" ng-repeat="video in friend.video">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>{{video}}</h2>
    <p>November 05, 2014</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      video desc.
    </p>
    <p>
      <a  class="subdued">1 Like</a>
      <a  class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item item-divider  tabs tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
    <a class="tab-item" ng-click="callGame1Chapter2()">
      <i class="icon ion-game-controller-b"></i>
      Play
    </a>
  </div>

</div>

</ion-list>
</ion-content>
</ion-view> 
