
<ion-view title="RankVideo">
  <ion-content has-header="true">
  <h3>TOP 10</h3>
  <ion-list>
  <ion-item ng-repeat="rank in rank">
    {{game.name}} stage {{gameLevel}} RANK {{rank}}
    <div class="item item-divider  tabs tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
    <a class="tab-item" ng-click="callGame1Chapter2()">
      <i class="icon ion-game-controller-b"></i>
      Play
    </a>
  </div>
  </ion-item>
</ion-list>
</ion-content>
</ion-view>
