<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->    

<ion-nav-buttons  side="left">
	<button class="button button-icon button-clear ion-navicon" $ionicSideMenuDelegate.toggleLeft()></button>
</ion-nav-buttons> 

<ion-tabs class="tabs-positive tabs-icon-top">


  <!-- Games Tab -->
  <ion-tab title="Games" icon="icon ion-home" href="#/tab/games">
    <ion-nav-view name="tab-games"></ion-nav-view>
  </ion-tab>

 
  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/{{user._id}}/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- MyVideo Tab -->
  <ion-tab title="MyPost" icon="icon ion-ios7-videocam" href="#/tab/myVideo">
    <ion-nav-view name="tab-myVideo"></ion-nav-view>
  </ion-tab>
  
  <!-- HotVideo Tab -->
  <ion-tab title="HotVideo" icon="icon ion-ios7-videocam-outline" href="#/tab/hotVideo">
    <ion-nav-view name="tab-hotVideo"></ion-nav-view>
  </ion-tab>


</ion-tabs>
